@import './utils/variables';
@import './base/normalize';
@import './utils/mixins';
@import './utils/alter-state';
@import './base/common';

@import './components/header';
@import './components/logo';
@import './components/nav';
@import './components/contacts';
@import './components/hero';
@import './components/features';
@import './components/work-directions';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/join';
@import './components/subscribing-form';

@import './components/portfolio';
@import './components/portfolio-card-set';

@import './components/modal';
@import './components/checkbox';
@import './components/modal-form';
