.clients {
  &__title {
    @media (max-width: 1199px) {
      margin: 0 0 30px;
      @include text(28px, 1.18, 700);
    }
    text-align: center;

    margin: 0 0 50px;

    @include text(36px, 1.17, 700);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__item {
    display: flex;

    margin: 15px;

    height: 92px;
    flex-basis: calc((100% - 60px) / 2);

    @include respond-to(tablet) {
      flex-basis: calc((100% - 90px) / 3);
    }
    @include respond-to(desktop) {
      flex-basis: calc((100% - 180px) / 6);
    }
  }
}
.clients__logo {
  @include centered;
  @include transit(color, border-color);

  color: var(--icon-fill-color);
  width: 100%;
  height: 100%;

  border: 1px solid;
  border-color: var(--icon-fill-color);
  border-radius: 4px;
  &:hover,
  &:focus {
    color: var(--brand-color);
    border-color: var(--brand-color);
  }
}
.logo__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
