.clients {
  &__title {
    text-align: center;

    margin: 0 0 50px;

    @include text(36px, 1.17, 700);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__item {
    margin: 15px;
  }
}
.clients__logo {
  @include transit(color, border-color);
  @include centered;
  margin: 0;

  border: 1px solid;
  border-color: var(--icon-fill-color);
  border-radius: 4px;

  color: var(--icon-fill-color);

  &:hover,
  &:focus {
    color: var(--brand-color);
    border-color: var(--brand-color);
  }
}
.logo__icon {
  fill: currentColor;
  /*   max-width: 210px;
  max-height: 92px; */
}

@include respond-to(tablet) {
  flex-basis: calc((100% - 75px) / 3);
}
@include respond-to(desktop) {
  flex-basis: calc((100% - 105px) / 6);
}
