.contacts-list {
  @media (max-width: 767px) {
    display: none;
  }
  @media (max-width: 1199px) {
    flex-direction: column;
  }
  @include respond-to(tablet) {
    display: flex;

    margin-left: auto;
  }
  &__contact:not(:last-child) {
    @media (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @include respond-to(desktop) {
      margin-right: 50px;
    }
  }
}

.contact {
  &__link {
    @extend .page__link;
    padding: 5px 0;

    color: var(--main-text-color);
    @include respond-to(desktop) {
      @include centered;
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
