.contacts-list {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    margin-top: auto;
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }

  &__contact:not(:last-child) {
    @media (max-width: 767px) {
      margin-top: 32px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @include respond-to(desktop) {
      margin-right: 50px;
    }
  }
}

.contact {
  &__link {
    @extend .page__link;
    padding: 5px 0;

    color: var(--main-text-color);
    @include respond-to(desktop) {
      @include centered;
    }
  }
  &__phone {
    @media (max-width: 767px) {
      @include text(34px, 1.18, 500);
      letter-spacing: 0.02em;
      color: var(--brand-color);
      padding: 0;
    }
  }
  &__mail {
    @media (max-width: 767px) {
      @include text(24px, 1.17, 500);
      letter-spacing: 0.02em;

      padding: 0;
    }
  }
  &__icon {
    @media (max-width: 767px) {
      display: none;
    }
    fill: currentColor;
    margin-right: 10px;
  }
}
