.features {
  @include respond-to(desktop) {
    padding: 94px 0;
  }

  &__list {
    @include respond-to(tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
    @include respond-to(desktop) {
      flex-wrap: nowrap;
    }
  }
  &__thumb {
    @include centered;
    margin-bottom: 30px;

    background: var(--light-background-color);
    border-radius: 4px;

    height: 120px;
  }

  &__title {
    margin: 0 0 10px;

    text-transform: uppercase;
    @include text(14px, 1.14, 700);
  }

  &__content {
    margin: 0;

    @include text(14px, 1.71);
    letter-spacing: 0.03em;
  }
}
.features__card {
  @include respond-to(tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @include respond-to(desktop) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
