.footer-section {
  background-color: var(--dark-background-color);

  @media (max-width: 767px) {
    padding: 60px 15px;
  }
  @media (max-width: 1199px) {
    padding: 60px 0px;
  }
}
.footer-block {
  @media (max-width: 1199px) {
    display: block;
    text-align: center;
  }

  @include respond-to(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;

  color: var(--white-color);
  font-style: normal;
  @include text(14px, 1.71);

  &__physical {
    margin: 0 0 9px;
  }

  &__link {
    display: inline-block;

    color: var(--white-color);
    opacity: 60%;
    text-decoration: none;

    &:not(:last-child) {
      @extend .footer-address__physical;
    }
  }
}
