.header-section {
  position: relative;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }
  .burger-btn {
    background-color: var(--white-color);
    border-color: transparent;
    margin-left: auto;
    fill: currentColor;

    @include respond-to(tablet) {
      display: none;
    }
    & .icon-close {
      display: none;
    }
    &.is-open .icon-close {
      display: block;
      z-index: 10;
    }
    &.is-open .icon-menu {
      display: none;
    }
    &:hover,
    &:focus {
      color: var(--brand-color);
    }
  }
  .menu-container {
    display: contents;

    @media screen and (max-width: 767px) {
      display: none;

      .menu-container.is-open {
        display: flex;
        justify-content: space-between;

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 400px;
        z-index: 10;

        background-color: yellow;
      }
    }
  }
}
.socials-list {
  @media (min-width: 768px) {
    display: none;
  }
}
