.header-section {
  position: relative;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__container {
    display: flex;
    align-items: center;
  }
  .burger-btn {
    background-color: var(--white-color);
    border-color: transparent;
    margin-left: auto;
    fill: currentColor;

    z-index: 4;

    @include respond-to(tablet) {
      display: none;
    }
    & .icon-close {
      display: none;
    }
    &.is-open {
      position: fixed;
      right: 0;
    }
    &.is-open .icon-close {
      display: block;
      z-index: 10;
    }
    &.is-open .icon-menu {
      display: none;
    }
    &:hover,
    &:focus {
      color: var(--brand-color);
    }
  }
}
