.team-section {
  text-align: center;
  background-color: var(--light-background-color);

  @include respond-to(desktop) {
    padding: 94px 0;
  }
}
.team-section__title {
  margin: 0 0 50px;
}
.our-team {
  margin-bottom: -30px;
  @include respond-to(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @include respond-to(desktop) {
    flex-wrap: nowrap;
  }
}
.our-team__card {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;

  @include respond-to(tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @include respond-to(desktop) {
    flex-basis: calc((100% - 90px) / 4);
    flex-wrap: nowrap;
  }
}

.our-team__description {
  @include centered;
  flex-direction: column;
  padding: 30px 0 24px 0;

  @include respond-to(desktop) {
    padding: 30px 0;
  }
}

.our-team__unit {
  display: inline-block;

  margin: 0 0 10px;

  @include text(16px, 1.19, 500);
  color: var(--title-color);
}
.our-team__position {
  margin: 0 0 16px;

  @include text(16px, 1.19);
}
.socials {
  @include centered($justify: space-between);

  width: 206px;

  &__link {
    @include transit(background-color, fill);
    @include centered;

    width: 44px;
    height: 44px;

    fill: var(--icon-fill-color);
    border-radius: 50%;

    &:hover,
    &:focus {
      @include respond-to(desktop) {
        background-color: var(--brand-color);
        fill: white;
      }
    }
  }
}
