.team-section {
  text-align: center;

  padding: 94px 0;

  background-color: var(--light-background-color);
}
.team-section__title {
  margin: 0 0 50px;

  @include text(36px, 1.17, 700);
}
.our-team {
  display: flex;
}
.our-team__card {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__card:not(:last-child) {
  margin-right: 30px;
}
.our-team__description {
  @include centered;
  flex-direction: column;

  padding: 30px 0;
}
.our-team__unit {
  display: inline-block;

  margin: 0 0 10px;

  @include text(16px, 1.19, 500);
  color: var(--title-color);
}
.our-team__position {
  margin: 0 0 16px;

  @include text(16px, 1.19);
}
.socials {
  @include centered($justify: space-between);

  width: 206px;

  &__link {
    @include transit(background-color, fill);
    @include centered;

    width: 44px;
    height: 44px;

    fill: var(--icon-fill-color);
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: var(--brand-color);
      fill: white;
    }
  }
}
