.socials-list {
  @media (min-width: 768px) {
    display: none;
  }
}
.socials-list__link {
  text-decoration: none;
  @include text(18px, 1.22, 500);
}
.menu-container {
  @media (max-width: 767px) {
    display: none;

    position: absolute;
    top: 0;

    min-width: 100vw;
    min-height: 100vh;
    z-index: 2;
    background-color: var(--white-color);

    &.is-open {
      display: block;
    }
  }
}
