.work-direction {
  text-align: center;

  padding-top: 0;

  &__title {
    margin-bottom: 50px;

    @include text(36px, 1.17, 700);
  }
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    text-align: center;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__label {
    display: block;

    width: 370px;
    position: absolute;
    bottom: 0;
    z-index: 1;

    margin: 0;
    padding: 25px 0;
    background: rgba(47, 48, 58, 0.8);

    text-transform: uppercase;
    @include text(14px, 1.14, 700);
    letter-spacing: 0.03em;
    color: var(--white-color);
  }
}
