:root {
  /* text color settings */
  --brand-color: #2196f3;
  --title-color: #212121;
  --main-text-color: #757575;
  --white-color: #fff;
  /* background color settings */
  --main-background-color: #e5e5e5;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --button-change-color: #188ce8;
  /* icon color settings */
  --icon-fill-color: #afb1b8;
}
